*.o
*.pb
*.dbg
*.xdbg
*.mem
*.reloc
*.rtti
*.svtype
*.type
*.sdb
*.wdb
*.xpr
*.lpr
*.xml
*.js
*.rst
*.wdf
*.sh
*.tcl
*.vds
*.jous
*.jou
*.bat
*.rtd
*.rtd.pb.log
*.nlo
*.completed
*.footer
*.wpc
*.json
*.shape
*.dcp
log-mel-spectrogram.runs/synth_1/.Xli/
log-mel-spectrogram.runs/synth_1/__synthesis_is_complete__
log-mel-spectrogram.cache/
log-mel-spectrogram.runs/synth_1/__synthesis_is_running__
log-mel-spectrogram.runs/synth_1/htr.txt
log-mel-spectrogram.runs/synth_1/vivado.jou
