*.o
*.pb
*.dbg
*.xdbg
*.mem
*.reloc
*.rtti
*.svtype
*.type
*.sdb
*.wdb
*.xpr
*.lpr
*.obj
*.exe
log-mel-spectrogram.cache/
log-mel-spectrogram.sim/sim_1/behav/xsim/compile.bat
log-mel-spectrogram.sim/sim_1/behav/xsim/elaborate.bat
log-mel-spectrogram.sim/sim_1/behav/xsim/simulate.bat
log-mel-spectrogram.sim/sim_1/behav/xsim/TB_SPI_vlog.prj
log-mel-spectrogram.sim/sim_1/behav/xsim/TB_SPI.tcl
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.ini
log-mel-spectrogram.sim/sim_1/behav/xsim/xvlog.log
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/TB_SPI_behav/Compile_Options.txt
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/TB_SPI_behav/TempBreakPointFile.txt
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/TB_SPI_behav/xsim.rlx
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/TB_SPI_behav/obj/xsim_3.c
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/TB_SPI_behav/xsimkernel.log
log-mel-spectrogram.sim/sim_1/behav/xsim/xsim.dir/TB_SPI_behav/xsimcrash.log
log-mel-spectrogram.sim/sim_1/behav/xsim/glbl.v
